/* CONFIG */
body, html{
    margin: 0;
    background-color: var(--blue);
    min-height: 100vh;
    font-family: Para;
    color: white;
}

h2,h3{
    font-family: Titles;
    color: var(--accent);
}
@font-face {
  font-family: Titles;
  src: url('./assets/font/Nexa.otf');
}

@font-face {
  font-family: Para;
  src: url('./assets/font/Atkinson.ttf');
}
:root {
  --blue: #086bbc;
  --accent: #abe9ff;
  --dark: #242424;
}

/* NAV */

#nav-wrap{
    background-color: var(--blue);
    padding: 10px;
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    z-index: 10;
    border-bottom: var(--accent) 4px solid;
}

#nav-logo{
    width: 75px;
}

/* HERO */

#hero-wrap{
    height: calc(100vh - var(--nav-height));
    flex: 1;
    overflow: hidden;
    position: relative;
}
#hero-slideshow{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: red; */
}

.hero-backdrop{
    width: 100%;
    height: 100%;
    opacity: 0%;
    object-fit: cover;
    position: absolute;
    transition: opacity 3s ease-in-out;
}

.hero-backdrop.active{
    opacity: 70%;
}
.hero-backdrop.no-transistion{
    transition: none !important;
}
#hero-title{
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100vw;
    color: var(--accent);
    z-index: 1;
    font-size: 10vw;
    font-family: Titles;
    
}
.stick{
    position: sticky;
}
#hero-frskate-far{
     position: absolute;
    z-index: 100;
    width: 90%;
    left: -45%;
    bottom: 50%;
    transform: scaleX(-1);

}
#hero-frskate{
    position: absolute;
    z-index: 100;
    width: 125%;
    right: -70%;
    bottom: 15%;

}
/* PRODUCTS */

#products-wrap{
    border-top: var(--accent) 4px solid;
    border-bottom: var(--accent) 4px solid;
    background-color: var(--blue);
    height: 100%;
    padding: 20px;
    color: var(--accent);
}

#product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    justify-content: center;
}

.product-card{
    padding: 30px;
    background-color: var(--dark);
    text-align: center;
}

.product-card-img{
    width: 100%;
}

.card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
    /* background-color: red; */
}

.product-button{
    background-color: var(--accent);
    padding: 20px 0px 20px 0px;
    width: 100%;
    color: #000000;
    border: var(--blue) 4px solid;
    box-sizing: border-box;
}

.product-title{
    padding: 15px;
    margin: 0;
}

/* ABOUT */

#about-wrap{
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    overflow-x: hidden;
}
#about-title{
    text-align: center;
    font-size: 10vw;
    margin-bottom: 0px;
}

#about-socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue);
    padding: 10px 10px 30px 10px;
    margin: 20px 20px 75px 20px;
    border-bottom: var(--accent) 4px solid;
}
#about-socials>h4{
    margin: 0;
    text-align: center;
}
#about-name-wrap{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#about-name{
    font-size: 1.5rem;
    padding: 5px 0px 2px ;
    margin: 0;
}

.about-links{
    color: var(--accent);
    margin: 0;
}

.about-para{
    /* text-align: center; */
    margin-bottom: 0;
}
#moomoo-text{
    text-align: center;
    font-size:11vw;
    margin: 0;
    padding: 0;
    font-family: Titles;
}
#moomoo-wrap{
/* background-color: pink; */
position: relative;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0px 25px 0px;
/* background-color: purple; */

}

#about-moomoo{
    height: 30vw;
    position: absolute;

    
}

.moomoo-intro{
    /* background-color: pink; */
    width: 100%;
    text-align: center;
    margin: 30px 0px 30px 0px;
}


.social-icon{
    color: var(--accent);
}
.bar{
    width:200vw; 
    border-top: var(--accent) 4px solid; 
    left: -200px; 
    position: relative;
    margin: 0px 0px 75px 0px;
}
#about-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-content: center;
}
.about-subsection{
    /* padding: 20px; */
    text-align: center;
}
.about-img{
    width: 90%;
    filter: grayscale();
}
/* FOOTER */

footer{
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: var(--accent) 4px solid;
}

#footer-text{
    margin: 0;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Para;
}
#footer-text>a{
    
    color: var(--accent);
   
}

/* 404 PAGE */

#fof-wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#fof-logo{
    width: 50%;
}

.fof-error-title{
    margin: 15px 0px 10px 0px;
    font-size: 6vw;
    font-family: Titles;
}

.fof-bio{
    margin: 0;
    font-family: Para;
    text-align: center;
}

.fof-home{
    background-color: var(--dark);
    padding: 10px 0px 10px 0px;
    width: 50vw;
    color: var(--accent);
    border: var(--accent) 4px solid;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
}

.noscroll{
    overflow-y: hidden;

}